/* Custom css template for Sector In Brief Dashboard /*
/* Programmer Name: Thiyaghessan tpoongundranar@urban.org /*
/* Date Created: 2024-08-23 /*
/* Date Last Modified: 2024-09-27 */

.body {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
}
.card-header { 
  background-color: white; 
  color: black;
  font-size: 1.5em;
  font-family: 'Lato';
}
.nav-menu {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.text-5xl {
  font-family: 'Lato'; /* Use the Lato font */
  font-size: 2.25rem; /* Set the font size to large */
  color: #000000;
  font-weight: 700;
}
.leading-relaxed {
  font-family: 'Lato'; /* Use the Lato font */
  font-size: 1.25rem; /* Set the font size to large */
  color: #696969;
}
.welcome-header {
    box-sizing: border-box;
    width: 50%;
    background-color: #ffffff;
    margin: auto;
    flex-direction: column;
}
.welcome-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url('pattern-square-dot.png');
    background-size: 12px; /* Ensure the background image covers the entire area */
    background-repeat: repeat; /* Prevent the background image from repeating */
}
.banner-light {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.search {
    margin-bottom: 20px;
}
.search input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.data-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.data-section h2 {
    margin-top: 0;
}
.footer {
    background-color: #0a4c6a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.body .h2 {
    font-family: 'Lato';
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
.summary-table-title {
  font-family: 'Lato';
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.summary-table-row {
  font-family: 'Lato';
  font-size: 0.8rem;
  background-color: white;
}
.var-header {
  font-family: 'Lato';
  font-size: 2em;
  font-weight: 700;
  color: black;
  text-align: left;
}
.var-sub-header {
  font-family: 'Lato';
  font-size: 1.5em;
  color: #696969;
  text-align: left;
}
.var-title-card {
  background-color: white;
}
.var-select-header {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.8rem;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.viz-header {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
  padding: 0.8rem;
  padding-left: 1.5rem;
}
.nav-menu {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.h3 {
  font-size: 1.5em;
  color: black;
  text-align: center;
}
.p {
  font-size: 1em;
  color: black;
  text-align: left;
  margin-left: 0px;
  margin:0;
}
.tableheader {
  font-family: 'Lato';
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-top: 20px;
}
.btn-download {
color: #ffffff;
background-color: #1696d2;
border-color: #1696d2;
font-size: 18px;
font-family: 'Lato';
border-radius: 0;
margin: auto;
}
.btn-download:hover {
color: #ffffff;
background-color: #46abdb;
border-color: #46abdb;
}
.selectize-input {
  font-family: 'Lato';
  font-size: 1em;
  color: black;
}
.filter-options {
  font-family: 'Lato';
  font-size: 1.0em;
  color: black;
}
.slider {
  font-family: 'Lato';
  font-size: 1.0em;
  color: black;
}
.form-text {
  font-family: 'Lato';
  font-size: 1.2em;
  color: #696969;
  text-align: justify;
  margin: auto;
}
.form-header {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-header-text {
  font-family: 'Lato';
  font-size: 1.2rem;
  color: #696969;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-choice-header {
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
  text-align: justify;
  margin: auto;
  text-transform: uppercase;
}
.btn-urban {
  color: #ffffff;
  background-color: #1696d2;
  border-color: #1696d2;
  font-size: 18px;
  font-family: 'Lato';
  border-radius: 0;
  display: flex;
  margin: auto;
}
.btn-urban:hover {
  color: #ffffff;
  background-color: #062635;
  border-color: #062635;
  font-size: 18px;
  font-family: 'Lato';
  border-radius: 0;
  display: flex;
  margin: auto;
}
.btn-radio-header {
  font-family: 'Lato';
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.urbn-checkbox {
  font-family: 'Lato';
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.urbn-navbar-title {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 10px;
  padding-bottom: 0;
}
.nav-link, .nav-underline {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.nav-underline .nav-link.active, 
.nav-underline :where(ul.nav.navbar-nav > li)>a.active {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  padding-bottom: 0;
}