/* Custom css template for Sector In Brief Dashboard /*
/* Programmer Name: Thiyaghessan tpoongundranar@urban.org /*
/* Date Created: 2024-08-23 /*
/* Date Last Modified: 2024-09-27 */

.body {
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
}
.card-header { 
  background-color: white; 
  color: black;
  font-size: 1.5em;
  font-family: 'Lato';
}
.nav-menu {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.header {
    font-family: 'Lato'; /* Use the Lato font */
    font-size: 14px; /* Set the font size to large */
}
.title {
    font-family: 'Lato', sans-serif; /* Use the Lato font */
    font-size: 50px; /* Set the font size to large */
    font-weight: 700; /* Set font weight to bold */
    color: black; /* Set text color to black */
    height: 400px;
    text-align: center; /* Center align the text */
    margin: 0; /* Remove default margin */
    padding: 40px; /* Add some padding around the title */
    background-image: url('pexels-scottwebb-1029615.jpg');
    background-size: cover; /* Ensure the background image covers the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.search {
    margin-bottom: 20px;
}
.search input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.data-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.data-section h2 {
    margin-top: 0;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.body .h2 {
    font-family: 'Lato';
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}
.summary-table-title {
  font-family: 'Lato';
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.summary-table-row {
  font-family: 'Lato';
  font-size: 0.8rem;
  background-color: white;
}
.var-header {
  font-family: 'Lato';
  font-size: 2em;
  font-weight: 700;
  color: black;
  text-align: left;
}
.var-sub-header {
  font-family: 'Lato';
  font-size: 1.5em;
  color: #696969;
  text-align: left;
}
.var-title-card {
  background-color: white;
}
.var-select-header {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.8rem;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.viz-header {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
  padding: 0.8rem;
  padding-left: 1.5rem;
}
.nav-menu {
  font-family: 'Lato';
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  text-align: left;
  background-color: #cfe8f3;
}
.h3 {
  font-size: 1.5em;
  color: black;
  text-align: center;
}
.p {
  font-size: 1em;
  color: black;
  text-align: left;
  margin-left: 0px;
  margin:0;
}
.tableheader {
  font-family: 'Lato';
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-top: 20px;
}
.btn-download {
color: #ffffff;
background-color: #1696d2;
border-color: #1696d2;
font-size: 18px;
font-family: 'Lato';
border-radius: 0;
margin: auto;
}
.btn-download:hover {
color: #ffffff;
background-color: #46abdb;
border-color: #46abdb;
}
.selectize-input {
  font-family: 'Lato';
  font-size: 1em;
  color: black;
}
.filter-options {
  font-family: 'Lato';
  font-size: 1.0em;
  color: black;
}
.slider {
  font-family: 'Lato';
  font-size: 1.0em;
  color: black;
}